body {
    background-image: url(../public/imagens/img_fundo.jpg)
}

.titulo {
    text-align: center;
}

.container {
    background-image: linear-gradient(rgb(113, 151, 218), rgb(28, 91, 146));
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 549px;
    width: 305px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 530px;
    margin-right: 5px;
    
}

input{
    width: 200px;
    height: 30;
    justify-content: center;
    padding: 5px;
    margin: 20px;
    border-radius: 50px;
    background: rgb(166, 202, 229);
}

.botao {
    display: inline-block;
    background: #2089DA;
    color: #EBEBEB;
    border-radius: 50px;
    text-align: center;
    margin: 5px;
    padding: 0;
    font-size: 15px;
    width: 250px;
    height: 25px;
}