<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../scripts/index.js"></script>
    <link rel="shortcut icon" type="imagem.jpg" href="../imagens/logo.jpg" class="icon">
    <link rel="stylesheet" href="./index.css">
    <title>Cifrador</title>
</head>
<body>
    <header class="titulo">
        <h1>Nome do APP</h1>
    </header>
    <form class="container">
        <h2 class="titulo-2">Codifique aqui</h2>
        <p class="text">Palavra</p>
        <input type="text" class="palavra" class="input">
        <p class="text">Chave</p>
        <input type="text" placeholder="1-26" class="senha" class="input">
        <button class="botao">Cifrar</button>
        <button class="botao">Descifrar</button>
        <div>
            <h3>Resultado</h3>
            <p id="retorno "></p>
        </div>
      
    </form>

    <script src="../scripts/index.js"></script>

</body>
</html>