<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cifrador</title>
</head>
<body>
    <header>
        <h1>Nome do APP</h1>
    </header>
    <div class="container">
        <h2>Codifique aqui</h2>
        <p>Palavra</p>
        <input type="text" class="palavra">
        <p>Chave</p>
        <input type="text" placeholder="1-26">
        <p>Resultado</p>
        <input type="text">
        <button>Cifrar</button>
        <button>Cifrar</button>
    </div>
</body>
</html>