.titulo{
    text-align: center;
    background-color: aquamarine;
}

.container{
    text-align: center;
    background-color: bisque;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body{
    font-family: 'Noto Sans JP', sans-serif;

    background: url('../images/antique-business-classic-1364700.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body, header, main, input, h2, p, a{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 8vh;
    background-color: rgba(55, 58, 54, 0.95);
}

header h2{
    text-align: center;
    font-size: 2.25vw;
    padding-top: 0.75vh;
    font-weight: bold;
    color: aliceblue;
}