body{
    background-image: url(../imagens/img_fundo.jpg)
}

.titulo{
    text-align: center;
}

.container{
    background-image: linear-gradient(#A3BBE4, #6FB3EF);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    box-sizing: border-box;    
    height: 549px;
    width: 305px;
    padding: 20px;  
    margin-top: 50px;
    margin-left: 530px;
    margin-right: 5px; 
}